@use "@nationalarchives/frontend/nationalarchives/variables/a11y" as
  a11yVariables;
@use "@nationalarchives/frontend/nationalarchives/variables/borders" as
  borderVars;
@use "@nationalarchives/frontend/nationalarchives/tools/a11y";
@use "@nationalarchives/frontend/nationalarchives/tools/borders";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

@use "@nationalarchives/frontend/nationalarchives/all";

$refresh-banner-height: 2.5rem;

.tna-template {
  &--padded {
    scroll-padding: $refresh-banner-height;
  }
}

.tna-main {
  position: relative;
}

.tna-refresh-banner {
  overflow: visible;

  position: absolute;
  inset: 0;
  z-index: 4;

  line-height: $refresh-banner-height;

  pointer-events: none;

  &__content {
    @include typography.font-size(16);

    height: $refresh-banner-height;

    position: sticky;
    top: 0;

    pointer-events: all;

    p {
      @include typography.main-font-weight-medium;
    }
  }

  &:not([hidden]) {
    + * {
      margin-top: $refresh-banner-height;
    }
  }
}

.tna-back-link {
  display: inline-flex;
  gap: spacing.space(0.5);

  &,
  &:visited {
    @include colour.colour-font("font-base");
  }

  &,
  &:hover,
  &:focus-visible {
    text-decoration: none;
  }

  &__inner {
    text-decoration: underline;
    @include typography.interactable-text-decoration;
  }

  &:hover &__inner,
  &:focus-visible &__inner {
    @include typography.interacted-text-decoration;
  }

  &::before {
    content: "\2039";
    content: "\2039" / "";
  }
}

.tna-warning {
  p {
    margin-top: spacing.space(0.5);
  }
}

.tna-service-link {
  max-width: 100%;

  display: inline-block;
  overflow: auto;

  white-space: nowrap;
}

.tna-table {
  &--smaller-text {
    @include typography.font-size(17);
  }

  // &__cell--numeric[data-percentage] {
  //   padding-bottom: spacing.space(1);
  //   position: relative;

  //   &::before,
  //   &::after {
  //     content: "";

  //     height: .75rem;

  //     position: absolute;
  //     bottom: spacing.space(0.125);
  //     left: 0;

  //     background-clip: content-box;

  //     border: 0 solid transparent;
  //     border-bottom-width: spacing.space(0.375);
  //     border-right-width: spacing.space(1);
  //     border-left-width: spacing.space(1);

  //     box-sizing: border-box;
  //   }

  //   &::before {
  //     right: 0;

  //     z-index: -2;

  //     @include colour.tint;
  //   }

  //   &::after {
  //     width: attr(data-percentage %);

  //     z-index: -1;

  //     @include colour.green-accent;
  //     @include colour.accent;
  //   }

  //   &:last-child{
  //     &::before,
  //     &::after {
  //       border-right-width: 0;
  //     }
  //   }
  // }
}

.tna-dl {
  &--small {
    @include typography.font-size(16);
  }

  &--tiny {
    @include typography.font-size(14);
  }
}

.tna-monitor-summary-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: spacing.space(1);

  @include media.on-medium {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media.on-mobile {
    grid-template-columns: 1fr;
    gap: spacing.space(0.5);
  }
}

.tna-monitor-summary {
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  position: relative;

  &__icon {
    @include colour.accent;
    @include typography.font-size(32);

    width: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: borderVars.$rounded-border-radius 0 0
      borderVars.$rounded-border-radius;
  }

  &__content {
    @include colour.accent-light;

    padding: spacing.space(0.75) spacing.space(1);

    flex: 1;

    border-left: none;

    border-radius: 0 borderVars.$rounded-border-radius
      borderVars.$rounded-border-radius 0;

    p {
      @include typography.font-size(16);
      line-height: 1.5;
    }
  }

  .tna-heading-s a {
    &::before {
      @include borders.rounded-border;

      content: "";

      position: absolute;
      inset: 0;
      z-index: 3;
    }

    &:hover {
      &::before {
        @include colour.colour-border("accent-background", 4px);
      }
    }

    &:focus-visible,
    &:active {
      @include a11y.no-focus-outline;

      &::before {
        @include a11y.focus-outline;
      }
    }

    &:active {
      &::before {
        @include a11y.active-outline;
      }
    }
  }

  @include media.on-mobile {
    &__icon {
      @include typography.font-size(24);
      width: 3rem;
    }

    &__content {
      padding: spacing.space(0.5) spacing.space(0.75);
    }
  }
}

.tna-details {
  &__content {
    overflow: auto;
  }
}

.tna-monitor {
  @include colour.colour-border("keyline", 1px, solid, bottom);

  padding-top: spacing.space(1.5);
  padding-bottom: spacing.space(1.5);
}

.tna-heartbeats {
  height: 2rem;
  margin-top: spacing.space(1);
  margin-bottom: spacing.space(1);
  padding-top: spacing.space(1.25);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1px;

  position: relative;

  list-style: none;

  &::before,
  &::after {
    @include typography.font-size(16);

    position: absolute;
    top: 0;

    line-height: 1;
    line-height: 1cap;
  }

  &::before {
    content: attr(data-oldest-heartbeat);

    left: 0;
  }

  &::after {
    content: attr(data-newest-heartbeat);

    right: 0;
  }

  &__item {
    @include colour.accent;
    @include borders.rounded-border;

    height: 2rem;
    margin: 0;

    flex: 1;

    position: relative;
    z-index: 1;

    font-size: 0;
    line-height: 2rem;

    &::before {
      margin-top: 0.25rem;

      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: 100%;
      right: 0;
      left: 0;

      font-size: 10px;
      line-height: 1;
      @include colour.colour-font("accent-background");
    }

    &--status-down {
      @include colour.pink-accent;

      &::before {
        --fa: "\f071";
      }
    }

    &--status-up {
      @include colour.green-accent;
    }

    &--status-pending {
      @include colour.yellow-accent;
    }

    &--status-maintenance {
      @include colour.blue-accent;

      &::before {
        --fa: "\f0ad";
      }
    }
  }

  @include media.on-mobile {
    &::before {
      content: attr(data-oldest-heartbeat-mobile);
    }

    &__item {
      &--hide-on-mobile {
        display: none;
      }
    }
  }

  // @media (pointer: fine) {
  //   &:hover &__item {
  //     opacity: 0.35;

  //     &:hover {
  //       opacity: 1;
  //     }
  //   }
  // }
}

.tna-incident-calendar {
  width: 100%;
  height: 10rem;
  margin-top: spacing.space(2.5);
  margin-bottom: 7rem;
  padding-right: spacing.space(1.25);
  padding-left: spacing.space(2);

  display: flex;

  align-items: flex-end;
  justify-content: space-between;
  gap: spacing.space(0.25);
  box-sizing: border-box;

  list-style: none;

  flex-flow: row nowrap;
  @include colour.colour-border("keyline-dark", 1px, solid, bottom);

  &__item {
    height: attr(data-percentage %);

    flex: 1;

    position: relative;

    font-size: 0;

    border-radius: 0.1px;

    @include colour.accent;

    &:not([data-label=""]) {
      cursor: pointer;
    }

    &::before {
      content: attr(data-label) / "";

      margin-bottom: -1px;
      padding: spacing.space(0.25) 0 spacing.space(0.25) spacing.space(1.25);

      position: absolute;
      bottom: 100%;
      left: 0;
      z-index: 1;

      line-height: 1;
      line-height: 1cap;
      text-align: center;
      white-space: nowrap;
      @include typography.font-size(12);
      @include colour.base;
      @include colour.colour-border("accent-background", 1px, solid, bottom);

      opacity: 0;
    }

    &::after {
      content: attr(data-date) / "";

      display: block;
      visibility: hidden;

      position: absolute;
      top: 100%;
      right: 75%;

      line-height: 1;
      line-height: 1cap;
      text-align: right;
      white-space: nowrap;

      transform: translateY(0.5rem) rotate(-45deg);
      transform-origin: 100% 0;

      @include typography.font-size(16);

      @include colour.base;
    }

    &--maximum,
    &:focus,
    &:focus-visible,
    &:hover {
      &:not([data-label=""]) {
        &::before {
          opacity: 1;
        }
      }
    }

    &--maximum {
      &:not([data-label=""]) {
        z-index: 2;
      }
    }

    &:focus,
    &:focus-visible {
      &:not([data-label=""]) {
        z-index: 3;
      }
    }

    &:hover {
      &:not([data-label=""]) {
        z-index: 4;
      }
    }
  }

  @include media.on-larger-than-mobile {
    li {
      &:nth-child(2n + 1)::after {
        visibility: visible;
      }
    }
  }

  @include media.on-mobile {
    gap: spacing.space(0.125);
  }

  @include media.on-small {
    li {
      &:nth-child(3n + 1)::after {
        visibility: visible;
      }
    }
  }

  @include media.on-tiny {
    li {
      &:nth-child(4n + 1)::after {
        visibility: visible;
      }

      // &::before {
      //   visibility: hidden;
      // }
    }
  }
}

dt:has(.tna-status-example) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: spacing.space(1);
}

.tna-status-example {
  width: 1em;
  height: 1em;

  display: inline-block;

  @include colour.accent;
  @include borders.rounded-border;

  &--down {
    @include colour.pink-accent;
  }

  &--up {
    @include colour.green-accent;
  }

  &--pending {
    @include colour.yellow-accent;
  }

  &--maintenance {
    @include colour.blue-accent;
  }
}
