{% macro incidents_table(most_recent_incidents, monitor_name) %}
<div class="tna-table-wrapper">
  <table class="tna-table tna-table--smaller-text">
    <caption class="tna-table__caption">
      Recent downtime for {{ monitor_name }} (most recent first)
    </caption>
    <thead class="tna-table__head">
      <tr class="tna-table__row">
        <th class="tna-table__header">Status</th>
        <th class="tna-table__header">Start</th>
        <th class="tna-table__header">End</th>
        <th class="tna-table__header">Duration</th>
      </tr>
    </thead>
    <tbody class="tna-table__body">
      {%- for incident in most_recent_incidents %}
      {%- if incident.has_start %}
      <tr class="tna-table__row">
        <th class="tna-table__header" title="{{ incident.start.msg }}">
          {{ incident.start.msg or incident.status.title }}
        </th>
        <td class="tna-table__cell">
          {%- if incident.has_start %}
          <time datetime="{{ incident.start.time | any_datetime_string_to_iso_8601_datetime }}">{{ incident.start.time | pretty_datetime }} (UTC)</time>
          {%- else %}
          <em>Unknown</em>
          {%- endif %}
        </td>
        <td class="tna-table__cell">
          {%- if incident.has_end %}
          <time datetime="{{ incident.end.time | any_datetime_string_to_iso_8601_datetime }}">{{ incident.end.time | pretty_datetime }} (UTC)</time>
          {%- else %}
          —
          {%- endif %}
        </td>
        <td class="tna-table__cell">
          {%- if incident.duration_seconds -%}
            {% if not incident.has_start %}At least{% endif %}
            {{ incident.duration_seconds | seconds_to_time }}
            {% if not incident.has_end %} (ongoing){% endif %}
          {%- endif %}
        </td>
      </tr>
      {%- endif %}
      {%- endfor %}
    </tbody>
  </table>
</div>
{% endmacro %}
