{% extends "base.html" %}

{%- from 'components/back-link/macro.html' import tnaBackLink -%}
{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/details/macro.html' import tnaDetails -%}
{%- from 'components/sidebar/macro.html' import tnaSidebar -%}
{%- from 'components/warning/macro.html' import tnaWarning -%}
{%- from 'status/macros/heartbeats_graph.html' import heartbeats_graph -%}
{%- from 'status/macros/incidents_table.html' import incidents_table -%}

{%- set pageTitle = 'Details for ' ~ monitor.name -%}
{%- set themeAccent = 'blue' -%}
{%- set days = (heartbeat_hours_to_show / 24) | int -%}

{% block head %}
{{ super() }}
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
{% endblock head %}

{% block header %}
{{ super() }}
    <div class="tna-container tna-!--padding-top-s">
      <div class="tna-column tna-column--full">
        {{ tnaBackLink({
          'text': 'Service status',
          'href': url_for('status.index')
        }) }}
      </div>
    </div>
{% endblock header %}

{% block content %}
<div class="tna-container tna-!--padding-top-m">
  {%- set has_child_monitors = monitor_children | length > 0 %}
  <div class="tna-column tna-column--width-3-4 tna-column--full-small tna-column--full-tiny tna-!--padding-top-s tna-!--padding-bottom-m" id="overview">
    <hgroup class="tna-hgroup-xl">
      <p class="tna-hgroup__supertitle">Service report</p>
      <h1 class="tna-hgroup__title">{{ monitor.name }}</h1>
    </hgroup>
    {%- if monitor.description %}
    <p class="tna-scene-setter">{{ monitor.description }}</p>
    {%- endif %}
    {%- if status_page_monitor_details.url %}
    <p>
      <a href="{{ status_page_monitor_details.url }}" class="tna-service-link">{{ status_page_monitor_details.url }}</a>
    </p>
    {%- endif %}
    <p>Showing data for the last {{ days }} days.{% if link_to_90d %} <a href="{{ link_to_90d }}">View 90 day report</a>.{% endif %}</p>
    <p>
      <small>Updated <strong><time datetime="{{ now_iso_8601() }}">{{ now_pretty() }} (UTC)</time></strong></small>
    </p>

    {{ tnaWarning({
      'headingLevel': 2,
      'body': 'This is a new service and the data provided may not be accurate.'
    }) }}

    {%- set recent_incidents = heartbeats | previous_incidents(valid_earliest_heartbeat_start=True) %}

    {%- if monitor.type == MonitorType.GROUP %}
    <div class="tna-table-wrapper">
      <table class="tna-table">
        <caption class="tna-table__caption">
          {{ monitor.name }} component uptimes
        </caption>
        <thead class="tna-table__head">
          <tr class="tna-table__row">
            <th class="tna-table__header">Service</th>
            <th class="tna-table__header tna-table__header--numeric">24 hour uptime</th>
            <th class="tna-table__header tna-table__header--numeric">30 day uptime</th>
            <th class="tna-table__header tna-table__header--numeric">1 year uptime</th>
          </tr>
        </thead>
        <tbody class="tna-table__body">
          {%- for child in monitor_children %}
          <tr class="tna-table__row">
            <th class="tna-table__header">
              <a href="#monitor-{{ child.name | slugify }}">{{ child.name }}</a>
            </th>
            <td class="tna-table__cell tna-table__cell--numeric" title="{{ child.uptime.24 * 100 }}%" data-percentage="{{ child.uptime.24 * 100 }}">
              {{ child.uptime.24 | pretty_percentage }}
            </td>
            <td class="tna-table__cell tna-table__cell--numeric" title="{{ child.uptime.720 * 100 }}%" data-percentage="{{ child.uptime.720 * 100 }}">
              {{ child.uptime.720 | pretty_percentage }}
            </td>
            <td class="tna-table__cell tna-table__cell--numeric" title="{{ child.uptime['1y'] * 100 }}%" data-percentage="{{ child.uptime['1y'] * 100 }}">
              {{ child.uptime['1y'] | pretty_percentage }}
            </td>
          </tr>
          {%- endfor %}
        </tbody>
        <tfoot class="tna-table__foot">
          <tr class="tna-table__row">
            <th class="tna-table__header">Total</th>
            <td class="tna-table__cell tna-table__cell--numeric" title="{{ uptime.24 * 100 }}%" data-percentage="{{ uptime.24 * 100 }}">
              {{ uptime.24 | pretty_percentage }}
            </td>
            <td class="tna-table__cell tna-table__cell--numeric" title="{{ uptime.720 * 100 }}%" data-percentage="{{ uptime.720 * 100 }}">
              {{ uptime.720 | pretty_percentage }}
            </td>
            <td class="tna-table__cell tna-table__cell--numeric" title="{{ uptime['1y'] * 100 }}%" data-percentage="{{ uptime['1y'] * 100 }}">
              {{ uptime['1y'] | pretty_percentage }}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    {%- else %}
    <dl class="tna-dl tna-dl--lined">
      <dt>24 hour uptime</dt>
      <dd title="{{ uptime.24 * 100 }}%">{{ uptime.24 | pretty_percentage }}</dd>
      <dt>30 day uptime</dt>
      <dd title="{{ uptime.720 * 100 }}%">{{ uptime.720 | pretty_percentage }}</dd>
      <dt>1 year uptime</dt>
      <dd title="{{ uptime['1y'] * 100 }}%">{{ uptime['1y'] | pretty_percentage }}</dd>
      <dt>Average response time</dt>
      <dd title="{{ average_ping }} ms">{{ average_ping | int }} ms</dd>
      
      {%- set incidents = recent_incidents | incident_count %}
      {%- if incidents %}
      <dt>Total incidents</dt>
      <dd>{{ incidents }}</dd>

      <dt>Total downtime</dt>
      <dd>{{ recent_incidents | total_incident_time | int | seconds_to_time }}</dd>

      <dt>Average incident duration</dt>
      <dd>{{ recent_incidents | average_incident_time | int | seconds_to_time }}</dd>
      
      <dt>Longest incident</dt>
      <dd>{{ recent_incidents | longest_incident_time | int | seconds_to_time }}</dd>
      
      {%- if (recent_incidents | first).end %}
      <dt>Last incident</dt>
      <dd title="{{ (recent_incidents | first).end.time | pretty_datetime }} (UTC)">{{ (recent_incidents | first).end.time | time_ago }}</dd>
      {%- endif %}
      {%- endif %}
      
      {%- set total_maintenance = recent_incidents | total_maintenance_time | int %}
      {%- if total_maintenance %}
      <dt>Total maintenance time</dt>
      <dd>{{ total_maintenance | seconds_to_time }}</dd>
      {%- endif %}
    </dl>

    {{ heartbeats_graph(incident_calendar_heartbeats(recent_incidents, days), None, 'm', 'Today') }}
    
    {%- if recent_incidents %}
      {% call tnaDetails({"title": "Timelines of incidents (experimental)"}) %}
        <p>Duration of unscheduled downtime in the last {{ days }} days.</p>
        {%- set incident_calendar_duration_events = incident_calendar_duration((days), recent_incidents) %}
        <ul class="tna-incident-calendar">
          {%- for day in incident_calendar_duration_events.calendar %}
          <li class="tna-incident-calendar__item{% if day.duration == incident_calendar_duration_events.max_duration %} tna-incident-calendar__item--maximum{% endif %}" data-date="{{ day.short_date }}" data-label="{{ day.duration | seconds_to_duration if day.duration else '' }}" data-percentage="{{ ((day.duration / incident_calendar_duration_events.max_duration) * 100) if incident_calendar_duration_events.max_duration else 0 }}" title="{{ day.pretty_date }}: {{ day.duration | seconds_to_time }}"{% if day.duration %} tabindex="0"{% endif %}>{{ day.pretty_date }}: {{ day.duration | seconds_to_time }}</li>
          {%- endfor %}
        </ul>

        <p>Number of unexpected events in the last {{ days }} days.</p>
        {%- set incident_calendar_count_events = incident_calendar_count((days), recent_incidents) %}
        <ul class="tna-incident-calendar">
          {%- for day in incident_calendar_count_events.calendar %}
          <li class="tna-incident-calendar__item{% if day.count == incident_calendar_count_events.max_incidents %} tna-incident-calendar__item--maximum{% endif %}" data-date="{{ day.short_date }}" data-label="{{ day.count or '' }}" data-percentage="{{ ((day.count / incident_calendar_count_events.max_incidents) * 100) if incident_calendar_count_events.max_incidents else 0 }}" title="{{ day.pretty_date }}: {{ day.count }} incidents"{% if day.count %} tabindex="0"{% endif %}>{{ day.pretty_date }}: {{ day.count }} incidents</li>
          {%- endfor %}
        </ul>
      {% endcall %}
      
      {{ incidents_table(recent_incidents, monitor.name) }}
      {%- else %}
      <p><strong>No incidents in the last {{ days }} days.</strong></p>
      {%- endif %}
    {%- endif %}

    {% if has_child_monitors %}
    {%- for child in monitor_children %}
      <hr class="tna-!--margin-top-l">

      <h2 class="tna-heading-l" id="monitor-{{ child.name | slugify }}">{{ child.name }}</h2>

      {%- if child.description %}
      <p>{{ child.description }}</p>
      {%- endif %}

      <dl class="tna-dl tna-dl--stacked">
        <dt>Average response time</dt>
        <dd title="{{ child.average_ping }} ms">{{ child.average_ping | int }} ms</dd>
      </dl>
      
      {%- set child_recent_incidents = child.heartbeats | previous_incidents(valid_earliest_heartbeat_start=True) %}
      {%- if child_recent_incidents %}
      {%- set incidents = child_recent_incidents | incident_count %}
      <dl class="tna-dl tna-dl--lined">
        {%- if incidents %}
        <dt>Total incidents</dt>
        <dd>{{ incidents }}</dd>

        <dt>Total downtime (excluding maintenance)</dt>
        <dd>{{ child_recent_incidents | total_incident_time | int | seconds_to_time }}</dd>

        <dt>Average incident duration</dt>
        <dd>{{ child_recent_incidents | average_incident_time | int | seconds_to_time }}</dd>
        
        <dt>Longest incident</dt>
        <dd>{{ child_recent_incidents | longest_incident_time | int | seconds_to_time }}</dd>
        
        {%- if (child_recent_incidents | first).end %}
        <dt>Last incident</dt>
        <dd title="{{ (child_recent_incidents | first).end.time | pretty_datetime }} (UTC)">{{ (child_recent_incidents | first).end.time | time_ago }}</dd>
        {%- endif %}
        {%- endif %}
        
        {%- set total_maintenance = child_recent_incidents | total_maintenance_time | int %}
        {%- if total_maintenance %}
        <dt>Total maintenance time</dt>
        <dd>{{ total_maintenance | seconds_to_time }}</dd>
        {%- endif %}
      </dl>
      {%- endif %}

      {{ heartbeats_graph(incident_calendar_heartbeats(child_recent_incidents, days), None, 'm', 'Today') }}

      {%- if child_recent_incidents %}
      {% call tnaDetails({"title": "Timelines of incidents (experimental)"}) %}
        <p>Duration of unscheduled downtime in the last {{ days }} days.</p>
        {%- set incident_calendar_duration_events = incident_calendar_duration((days), child_recent_incidents) %}
        <ul class="tna-incident-calendar">
          {%- for day in incident_calendar_duration_events.calendar %}
          <li class="tna-incident-calendar__item{% if day.duration == incident_calendar_duration_events.max_duration %} tna-incident-calendar__item--maximum{% endif %}" data-date="{{ day.short_date }}" data-label="{{ day.duration | seconds_to_duration if day.duration else '' }}" data-percentage="{{ ((day.duration / incident_calendar_duration_events.max_duration) * 100) if incident_calendar_duration_events.max_duration else 0 }}" title="{{ day.pretty_date }}: {{ day.duration | seconds_to_time }}"{% if day.duration %} tabindex="0"{% endif %}>{{ day.pretty_date }}: {{ day.duration | seconds_to_time }}</li>
          {%- endfor %}
        </ul>

        <p>Number of unexpected events in the last {{ days }} days.</p>
        {%- set incident_calendar_count_events = incident_calendar_count((days), child_recent_incidents) %}
        <ul class="tna-incident-calendar">
          {%- for day in incident_calendar_count_events.calendar %}
          <li class="tna-incident-calendar__item{% if day.count == incident_calendar_count_events.max_incidents %} tna-incident-calendar__item--maximum{% endif %}" data-date="{{ day.short_date }}" data-label="{{ day.count or '' }}" data-percentage="{{ ((day.count / incident_calendar_count_events.max_incidents) * 100) if incident_calendar_count_events.max_incidents else 0 }}" title="{{ day.pretty_date }}: {{ day.count }} incidents"{% if day.count %} tabindex="0"{% endif %}>{{ day.pretty_date }}: {{ day.count }} incidents</li>
          {%- endfor %}
        </ul>
      {% endcall %}
      
      {{ incidents_table(child_recent_incidents, child.name) }}
      {%- else %}
      <p><strong>No incidents in the last {{ days }} days.</strong></p>
      {%- endif %}
    {%- endfor %}
    {%- endif %}
  </div>
  {%- if has_child_monitors %}
  <div class="tna-column tna-column--width-1-4 tna-column--full-small tna-column--full-tiny">
    {%- set ns = namespace(sidebar_items=[{
      'text': 'Overview',
      'href': '#overview'
    }]) %}
    {%- for child in monitor_children %}
      {%- set ns.sidebar_items = ns.sidebar_items + [{
        'text': child.name,
        'href': '#monitor-' ~ (child.name | slugify)
      }] %}
    {%- endfor %}
    {{ tnaSidebar({
      'title': 'On this page',
      'headingLevel': 2,
      'items': ns.sidebar_items,
      'type': 'contents',
      'sticky': True,
      'classes': 'tna-!--padding-top-s'
    }) }}
  </div>
  {%- endif %}
  <div class="tna-column tna-column--full tna-!--margin-top-l">
    <div class="tna-button-group">
      {{ tnaButton({
        'text': 'Back to top',
        'href': '#top',
        'icon': 'arrow-up',
        'small': True,
        'plain': True
      }) }}
    </div>
  </div>
</div>
{% endblock content %}
