{% extends "base.html" %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/skip-link/macro.html' import tnaSkipLink -%}
{%- from 'components/warning/macro.html' import tnaWarning -%}
{%- from 'status/macros/heartbeats_graph.html' import heartbeats_graph -%}
{%- from 'status/macros/incidents_list.html' import incidents_list -%}

{%- set pageTitle = data.config.title or 'Service status' -%}
{%- set themeAccent = 'blue' -%}

{% block head %}
{{ super() }}
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="tna.page.refresh_time" content="{{ app_config.STATUS_PAGE_REFRESH_SECONDS }}">
    {%- if 'refresh' in request.args %}
    <meta http-equiv="refresh" content="{{ app_config.STATUS_PAGE_REFRESH_SECONDS + 5 }}">
    {%- endif %}
{% endblock head %}

{% block skipLink %}
{# TODO: Enable when skip link doesn't prefix the href with a hash
{%- if 'refresh' in request.args %}
  {{ tnaSkipLink({
    'href': url_for('status.index'),
    'text': 'Stop automatically refreshing this page'
  }) }}
{%- endif %}
#}
{{ super() }}
{% endblock skipLink %}

{% block content %}
<div class="tna-refresh-banner"{{ '' if 'refresh' in request.args else ' hidden' }}>
  <div class="tna-refresh-banner__content tna-accent-blue tna-background-accent">
    <div class="tna-container">
      <div class="tna-column tna-column--flex-1">
        <p id="refresh-countdown">Refreshing every {{ app_config.STATUS_PAGE_REFRESH_SECONDS + 5 }} seconds.</p>
      </div>
      {%- if 'refresh' in request.args %}
      <div class="tna-column">
        <a href="{{ url_for('status.index') }}" aria-label="Stop automatically refreshing this page" title="Stop automatically refreshing this page">Stop<span class="tna-!--hide-on-small tna-!--hide-on-tiny"> refreshing</span></a>
      </div>
      {%- endif %}
    </div>
  </div>
</div>

<div class="tna-!--padding-top-l">
  <div class="tna-container">
    <div class="tna-column tna-column--flex-1 tna-column--full-small tna-column--full-tiny">
      <h1 class="tna-heading-xl">{{ pageTitle }}</h1>
      <p>Updated <strong><time datetime="{{ now_iso_8601() }}">{{ now_pretty() }} (UTC)</time></strong></p>
    </div>

    {%- if 'refresh' not in request.args %}
    <div class="tna-column">
      <div class="tna-button-group tna-button-group--small tna-!--margin-top-s tna-!--no-margin-top-large tna-!--no-margin-top-medium">
        {{ tnaButton({
          'text': 'Automatically refresh',
          'href': url_for('status.index') + '?refresh',
          'icon': 'rotate',
          'title': 'Automatically refresh this page every ' + (app_config.STATUS_PAGE_REFRESH_SECONDS | string) + ' seconds'
        }) }}
      </div>
    </div>
    {%- endif %}
  </div>

  <div class="tna-container">
    {%- if data.incidents %}
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
      {% for incident in data.incidents %}
        {%- set incident_body %}
        <h3 class="tna-heading-m">{{ incident.title }}</h3>
        {{ incident.content | markdown | safe }}
        <dl class="tna-dl tna-dl--tiny tna-!--margin-top-s">
          <dt>Incident raised</dt>
          <dd>
            <time datetime="{{ incident.createdDate }}Z">{{ incident.createdDate | pretty_datetime }} (UTC)</time>
          </dd>
          {%- if incident.lastUpdatedDate %}
          <dt>Last updated</dt>
          <dd>
            <time datetime="{{ incident.lastUpdatedDate }}Z">{{ incident.lastUpdatedDate | pretty_datetime }} (UTC)</time>
          </dd>
          {%- endif %}
        </dl>
        {%- endset %}

        {{ tnaWarning({
          'headingLevel': 2,
          'body': incident_body
        }) }}
      {%- endfor %}
    </div>
    {%- endif %}

    {%- if data.config.description %}
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
      {{ data.config.description | markdown | safe }}
    </div>
    {%- endif %}

    {%- if data.maintenanceList %}
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
      <h2 class="tna-heading-l" id="planned-maintenance">Planned maintenance</h2>
      {%- for item in data.maintenanceList %}
      <div class="tna-aside tna-!--margin-top-s tna-accent-blue tna-background-accent-light">
        <h3 class="tna-heading-m" id="group-{{ item.title | slugify }}">{{ item.title }}</h3>
        {{ item.description | markdown | safe }}
        {%- if (item.timeslotList | length) == 1 %}
        <h4 class="tna-heading-s tna-!--no-margin-top">Scheduled timeslot</h4>
        <p>From <strong><time datetime="{{ item.timeslotList[0].startDate }}{{ item.timezoneOffset }}">{{ item.timeslotList[0].startDate | pretty_datetime }} ({{ item.timezone }})</time></strong> to <strong><time datetime="{{ item.timeslotList[0].endDate }}{{ item.timezoneOffset }}">{{ item.timeslotList[0].endDate | pretty_datetime }} ({{ item.timezone }})</time></strong></p>
        {%- elif (item.timeslotList | length) > 1 %}
        <h4 class="tna-heading-s tna-!--no-margin-top">Scheduled timeslots</h4>
        <ul class="tna-ul">
          {%- for timeslot in item.timeslotList %}
          <li>
            From <strong><time datetime="{{ timeslot.startDate }}{{ item.timezoneOffset }}">{{ timeslot.startDate | pretty_datetime }} ({{ item.timezone }})</time></strong> to <strong><time datetime="{{ timeslot.endDate }}{{ item.timezoneOffset }}">{{ timeslot.endDate | pretty_datetime }} ({{ item.timezone }})</time></strong>
          </li>
          {%- endfor %}
        </ul>
        {%- endif %}
      </div>
      {%- endfor %}
    </div>
    {%- endif %}

    <div class="tna-column tna-column--full tna-!--margin-top-l">
      <div class="tna-monitor-summary-wrapper">
        {%- for group in data.publicGroupList %}
        {%- for item in group.monitorList %}
        {%- if heartbeats.heartbeatList[item.id | string] %}
        {%- set item_data = (heartbeats.heartbeatList[item.id | string] | last).status | pretty_uptime_kuma_status %}
        <div class="tna-monitor-summary {{ item_data.accent_colour }}">
          <div class="tna-monitor-summary__icon">
            <i class="fa-solid fa-fw {{ item_data.fontawesome_icon }}" aria-hidden="true"></i>
          </div>
          <div class="tna-monitor-summary__content">
            <h2 class="tna-heading-s tna-heading--no-link-arrow">
              <a href="#service-{{ item.name | slugify }}" class="tna-link--no-visited-state" aria-label="Jump to monitor for {{ item.name }}">{{ item.name }}</a>
            </h2>
            <p class="tna-!--no-margin-top">{{ item_data.title }}</p>
          </div>
        </div>
        {%- endif %}
        {%- endfor %}
        {%- endfor %}
      </div>
      <h2 class="tna-heading-m">Report an issue</h2>
      <p>Found something that isn't working? Send an email to <a href="mailto:webmaster@nationalarchives.gov.uk">webmaster@nationalarchives.gov.uk</a>.</p>
    </div>

    <div class="tna-column tna-column--full tna-!--margin-top-l">
      {%- for group in data.publicGroupList %}
      <h2 class="tna-heading-l" id="group-{{ group.name | slugify }}">{{ group.name }}</h2>
      <hr class="tna-!--margin-top-s">
      {%- for item in group.monitorList %}
      {%- set item_heartbeats = heartbeats.heartbeatList[item.id | string] %}
      {%- if item_heartbeats %}
      <div id="service-{{ item.name | slugify }}" class="tna-monitor">
        <h3 class="tna-heading-m">
          {%- if item.url %}
          <a href="{{ item.url }}">{{ item.name }}</a>
          {%- else %}
          {{ item.name }}
          {%- endif %}
        </h3>
        {%- set most_recent_item_heartbeat = item_heartbeats | last %}
        {%- set most_recent_item_heartbeat_data = most_recent_item_heartbeat.status | pretty_uptime_kuma_status %}
        {%- set show_n_heartbeats_on_mobile = ((item_heartbeats | length) / 2) | int %}
        <p class="tna-!--margin-top-xs">
          <strong>{{ most_recent_item_heartbeat_data.title }}</strong>
        </p>
        {{ heartbeats_graph(item_heartbeats, show_n_heartbeats_on_mobile, None, None, True) }}
        
        {%- set recent_incidents = item_heartbeats | previous_incidents %}
        {%- if recent_incidents %}
        <dl class="tna-dl tna-dl--stacked tna-!--margin-top-s">
          <!-- <dt>Last checked</dt>
          <dd>
            <time datetime="{{ (item_heartbeats | last).time }}Z">{{ (item_heartbeats | last).time | pretty_datetime }} (UTC)</time>
          </dd> -->

          <dt>Recent downtime</dt>
          <dd>
            {{ incidents_list(recent_incidents) }}
          </dd>
        </dl>
        {%- endif %}

        {%- if jwt_set_up %}
        <p class="tna-!--margin-top-xs">
          <small>See <a href="{{ url_for('status.details', monitor_slug=(item.name | slugify)) }}">more details for {{ item.name }}</a></small>
        </p>
        {%- endif %}
      </div>
      {%- endif %}
      {%- endfor %}
      {%- endfor %}
    </div>
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
      <h2 class="tna-heading-l tna-!--padding-top-s">Key</h2>
      <dl class="tna-dl tna-dl--lined">
        <dt>
          <span class="tna-status-example tna-status-example--up"></span>
          Up
        </dt>
        <dd>The service is operating as expected</dd>
        <dt>
          <span class="tna-status-example tna-status-example--pending"></span>
          Pending
        </dt>
        <dd>The service is experiencing intermittent issues but it might be due to temporary connection problems</dd>
        <dt>
          <span class="tna-status-example tna-status-example--down"></span>
          Down
        </dt>
        <dd>Part or all of the service is unreachable</dd>
        <dt>
          <span class="tna-status-example tna-status-example--maintenance"></span>
          Maintenance
        </dt>
        <dd>The service is undergoing planned maintenance and might not be reachable</dd>
      </dl>
    </div>
    <div class="tna-column tna-column--full tna-!--margin-top-l">
      <div class="tna-button-group">
        {{ tnaButton({
          'text': 'Back to top',
          'href': '#top',
          'icon': 'arrow-up',
          'small': True,
          'plain': True
        }) }}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
